{% extends "base.html" %}

{% block title %}
    <title>Dashboard | MIPRESS</title>
{% endblock %}
{% block content %}
    <div class="container">
        <!-- <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Salir</a> -->
        <a href="{% url 'logout' %}" class="btn btn-outline-danger" role="button" aria-pressed="true">Salir</a>
        <!-- <button type="button" class="btn btn-danger">Salir</button> -->
        <h1>{{ name_company }}</h1>
        <h1>Nit: {{ nit }}</h1>
        <form class="form-inline">
            <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Date</label>
                <div class="col-10">
                    <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
        </form>
    </div>
{% endblock %}